.main {
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: circle;
}


.main>img {
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 76px;
}

.main>h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;


}

.cadastro_user {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

}

.cadastro {
    width: 280px;
    height: 25px;
    border-radius: 60px;
    border-width: 0.5px;
    padding-left: 13px;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    gap: 11px;
    margin-top: 20px;
}

.pass_content>p {
    display: flex;
    margin-left: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-top: 6px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 358px;
    height: 46px;
    border: none;
    border-radius: 60px;
    background-color: linear-gradient(265.34deg, #1D4626 -100.85%, #00ECCB 52.47%);
}