.main {
    height: 844px;
    width: 390px;


}

.main_page {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_page>img {
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 76px;
}

.main_page>h1 {
    position: absolute;
    top: 27px;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    margin-top: 333px;
}

.cadastro_user {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 11px;
    top: 433px;
    height: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

}

.cadastro_user > input {
    margin-left: 23px;
    width: 280px;
    height: 25px;
    border-radius: 60px;
    border-width: 0.5px;
}