.image_container {
    position: relative;
    width: 390px;
    height: 126px;
    overflow: hidden;
}
.image_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: imageAnimation 9s infinite;
}
@keyframes imageAnimation {
    0% {
      opacity: 0;
    }
    33.33% {
      opacity: 1;
    }
    66.66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
.image_container img:nth-child(1) {
    animation-delay: 0s;
}
.image_container img:nth-child(2) {
    animation-delay: 3s;
}
.image_container img:nth-child(3) {
    animation-delay: 6s;
}