.body {
    padding-right:0;
    padding-left: 0;

    width: 390px;
    height: 1055px;
    background-color: #ffffff;
}

.cart_perfil {
    width: 358px;
    height: 563px;

    border-radius: 8px;
}

.perfil_avatar > img{
    width: 141px;
    height: 141px;
}