/* Components */
.flex_avatar--title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.size_container {
    width: 160px;
}
/* ------------------------- */


.body {
    width: 390px;
    background-color: #ffffff;
}

.btn_back {
    width: 40px;
    height: 25px;

    position: absolute;
    top: 27px;
    left: 16px;
}

.cart_perfil {
    width: 358px;
    height: 592px;
    margin: 137px auto 0 auto;
    padding-top: 80px;
    border-radius: 8px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil_avatar {
    width: 141px;
    height: 141px;

    position: absolute;
    left: 108px;
    top: -70px;
}

.perfil_dados {
    margin: 20px 0;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dados_container {
    height: 24px;
    line-height: 24px;

    display: flex;
}

.container_title {
    border-radius: 8px 0 0 8px;
    padding-left: 10px;
}

.container_info {
    padding-left: 6px;
    border-radius: 0 8px 8px 0;
}

.perfil_meta>img {
    width: 350px;
}

.meta_title {
    margin-left: 16px;
}

.meta_title>img {
    width: 17px;
    height: 17px;
}