@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.title_1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
}

.title_2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.p_1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px
}

.p_2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.p_3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}