.Esqueceu_a_senha_1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 844px;
    width: 390px;

}

/*  */

.titulo_esqueceu_1 {
    display: flex;
    width: 390px;
    height: 187px;
    align-items: center;
    padding-left: 46px;
    padding-bottom: 46px;
    margin-right: 55px;
} 

.titulo_esqueceu_1 > h2 {
    /* font-family: Roboto; */
    display: flex;
    margin-top: 46px;
    font-size: 46px;
    font-weight: 400px;
    line-height: 57px;
    text-align: left;
    
    

}

/*  */

.email_esqueceu_1{
    display: flex;
    margin-top: 20px;
    margin-right: 66px;
}

.email_esqueceu_1 > h4{
    /* font-family: Roboto; */
    display: flex;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

/*  */

.mensagem_esqueceu_1{
    display: flex;
    margin-top: 6px;
    margin-right: 55px;
    text-align: left;
}

.mensagem_esqueceu_1 > p{
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;   
}

/* */

.input_esqueceu_1{
    margin-top: 50px;
    margin-right: 20px;
    align-items: left;
    height: 40px;
    width: 340px;
    left: 16px;
    top: 367px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    padding-left: 14px;
}

/*  */

.enviar_button_esqueceu_1 > button {
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    height: 46px;
    width: 340px;
    border-radius: 8px;
    background: linear-gradient(265.34deg, #1D4626 -100.85%, #00ECCB 52.47%);
}


.voltar_button_esqueceu_1 > button{
    border: none;
    margin-top: 287px;
    height: 30px;
    width: 129px;
    border-radius: 8px;
    background: linear-gradient(265.34deg, #1D4626 -100.85%, #00ECCB 52.47%);
}



/* ---------------------------------SENHA_2-------------------------------------- */

.Esqueceu_a_senha_2{
    display: flex;
    flex-direction: column;
    height: 844px;
    width: 390px;
    text-align: center;
    align-items: center;
}

.Titulo_esqueceu_2{
    display: flex;
    width: 390px;
    height: 187px;
    text-align: center;
    align-items: center;
    padding-bottom: 26px;
}

.Titulo_esqueceu_2 > h2{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
}


.Corpo_principal_esqueceu_2{
    position: relative;
    top: 20px;
}

.mensagem_codigo_enviado_esqueceu_2 > p{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.input_esqueceu_2 > input{
    margin-top: 40px;
    height: 34px;
    width: 358px;
    left: 16px;
    top: 367px;
    border: 0.5px solid #000000;
    border-radius: 8px;
    padding-left: 14px;
}

.Mensagem_Instrução_esqueceu_2>p{
    margin-top: 10px;
    
}

.enviar_esqueceu_2 > button{
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    height: 46px;
    width: 340px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(265.34deg, #1D4626 -100.85%, #00ECCB 52.47%);
}

.reenvio_esqueceu_2{
    margin-top: 13px;
    font-size: 14px;
}

.link_reenviar_2{
    text-decoration: none;
    color: black ;
    font-weight: bold;
}

.voltar_esqueceu_2 > button{
    margin-top: 321px;
    border: none;
    background: linear-gradient(265.34deg, #1D4626 -100.85%, #00ECCB 52.47%);
    height: 30px;
    width: 129px;
    border-radius: 8px;
}

/* ---------------------------------SENHA_3-------------------------------------- */
.Esqueceu_a_senha_3{

    display: flex;
    flex-direction: column;
    height: 844px;
    width: 390px;
    text-align: center;
    align-items: center;
    background-color: aquamarine;
}

.Titulo_esqueceu_3{
    display: flex;
    width: 390px;
    height: 187px;
    text-align: center;
    align-items: center;
    padding-bottom: 26px;
}

.Titulo_esqueceu_3 > h2{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
}


.continuar_esqueceu_3>button{
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    height: 46px;
    width: 340px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(265.34deg, #1D4626 -100.85%, #00ECCB 52.47%)
}