.body {
    width: 390px;
    height: 844px;
}

.header {
    width: 390px;
    height: 200px;
    padding-left: 14px;
    display: flex;
    align-items: center;
}

.main_h2 {
    padding-left: 17px;
}







.btn_large {
    width: 358px;
    height: 46px;
    border: none;
    border-radius: 8px;
}